body{
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 16px;
}

.destaque{
    color: rgb(71, 115, 209);
    font-weight: bold;
}

#meuNome{
    color: rgb(71, 115, 209);
}

.card{
    border: 1px solid #000000;
    padding: 16px;
    margin-top: 16px;
}
